.responsibilities {

  margin: 0 0 1.5em 3em;
  width:90%;

}


#projects {
  color: #FFF;
width: 90%;
margin: auto;
padding-bottom: 5%;
padding-top: 1%;
}


.company-title {
	color: #FF9933;
}

.work-environment{
  /*color:#FFCB35;*/
  color:#AF81C9
}

.role{
  color:#E95C40;
  font-size: 15px;
}

.description {
  /*color:#AF81C9;*/
}
