<div class="container-fluid" style="background-color:skyblue; width100%; height:100%;">

	<div class="container-fluid" style="background-color:#2c3b67; width:70%;height:100%;margin-top:5%; margin-bottom:10%;">

		<h4 style="color:white">ABOUT ME</h4>
		<hr>

	    <div class="container-fluid" style="padding-bottom:5%;">
				<ul id="abtme"style="list-style-type:circle">

				  <li>Over 9 years of experience in IT Industry with expertise in Front end development and Accessibility for Web based applications.
</li>
				  <li>Extensive experience in designing professional User Interactive (UI) Web applications with the help of HTML/ HTML5, CSS/CSS3, LESS, JQUERY, JSON, <u> <b>Angular JS, Angular JS 2 & 4, React JS, Vue.js,</b> </u> REQUIRE JS, EXPRESS JS, GRUNT JS, UNDERSCORE JS, WIJMO JS, HIGHCHARTS, KEYLINES and JavaScript.
</li>
				  <li>Expertise in Client Side validations using HTML/HTML5, CSS/ CSS3 and Java Script.
</li>
					<li>Used JavaScript Cookies, Local storage and Session Storage concepts to store user information in web pages.
</li>
					<li>Worked on media quires for different layouts for screen, print, mobile phone, tablet, etc. </li>
					<li>Sound Understanding and good Experience with Object Oriented JavaScript and Implementation.
</li>
					<li>Good Understanding of Document Object Model (DOM) and DOM Functions.
</li>
					<li>Ability to rapidly prototype interface designs in hand-coded validating, standards-compliant, and semantically rich code and be aware of cross-browser compatibility and bugs.
</li>
					<li>Hands on the tools such as Eclipse, Text pad, Notepad++, Sublime text, Dreamweaver, Atom, Brackets etc.
</li>
					<li>Expertise in CSS pixel-level layout consistency with browser, version and platform independence</li>
					<li>Highly experienced with modern JS frameworks and libraries such as Angular JS and jQuery, Bootstrap, D3.js.
</li>
					<li>Worked deeply on various functionality’s like Authentication token’s and refresh token’s scenarios.
</li>
					<li>Strong working knowledge in Google Cloud Platform</li>
					<li>Skilled at analyzing and solving browser compatibility challenges and possesses ability to maintain consistency and well commented HTML and CSS markup</li>
					<li>Experience working with testing tools like Firebug, Firebug Lite, Chrome or safari web inspectors and IE Developer Toolbar</li>
					<li>Experience in Unit Testing (UIT), Integration Testing and in preparing test cases.</li>
					<li>Expert in documentation using MS tools (Word, Excel, PPT, and Project</li>
					<li>Involved in meetings to gather information and requirements from the clients</li>
					<li>Strong analytical skills with ability to quickly understand client’s business needs</li>
					<li>Ability to quickly ramp up and start producing results on given any tool or technology</li>
					<li>Excellent communication skills and understanding of business processes.
</li>
					<li>Strong communication, analytical and interpersonal skills working within cross-functional teams</li>
					<li>Currently still supporting the application for maintenance</li>
					<li>Was involved in doing code review for multiple teams</li>
					<li>Self-starter, fast learner and a team player with strong personal and group communication skills</li>
				</ul>

			<div>

	</div>

</div>
