<div class="container-fluid" style="background-color:skyblue; width100%; height:100%;">

	<div class="container-fluid" style="background-color:#2c3b67; width:70%;height:100%;margin-top:5%; margin-bottom:10%;">

		<h4 style="color:white">ABOUT ME</h4>
		<hr>

	    <div class="container-fluid" style="">
				<ul id="abtme"style="list-style-type:circle">

        <li>schooling from Apollo English Medium School, Nandigama, India.</li>
				<li>Highschool in MPC from Sri Chaitanya, Vijayawada, India.</li>
        <li>Bachelors in Engineering from Jawaharlal Nehru Technological University, India.</li>
				<li>Secured first position in Robotryst competition conducted by IIT Kharagpur and
Participated in final rounds Robotryst competition at IIT Delhi. In this project mostly involved in back-end coding.</li>
				</ul>

			</div>

				<table style="">
							<h4 style="color:white; text-align:center; margin-top:8%">Technical Skills</h4>
						  <tr>
						    <td class="head">Backend Programming Languages</td>
						    <td class="descrp">Java, C, C++</td>
						  </tr>
						  <tr>
						    <td class="head">Web2.0 (UI) Technologies</td>
						    <td class="descrp">HTML5, XHTML, DHTML, CSS3, LESS, JavaScript, ES6, DOM, AJAX, JSON, <u> <i>Angular JS, Angular JS 2 & 4, React JS, Vue.js,</i> </u>  D3.js, Grunt JS, Gulp, Webpack, Express, Required JS, Wijmo,Highcharts, KeyLines, Underscore JS and Bootstrap.</td>
						  </tr>
							<tr>
								<td class="head">Browsers</td>
								<td class="descrp">Internet Explorer, Mozilla Firefox & Google Chrome</td>
							</tr>
							<tr>
								<td class="head">Development Tools</td>
								<td class="descrp">Eclipse, Dreamweaver, Microsoft Visual Studio Web Express, Atom, Brackets, Text Pad, Firebug, HTTP Watch, POSTMAN</td>
							</tr>
							<tr>
								<td class="head">Operating Systems</td>
								<td class="descrp">Windows 95/98/NT/2000/XP/Windows7/Windows8, Mac OS, Linux/Unix</td>
							</tr>
				</table>

	</div>

</div>
